
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
    margin: 0 !important;
}


.context {
    width: 100%;
    position: absolute;
    top:5vh;
    
    
}

.context h1{
    text-align: center;
    color: #5caf47 !important;
    font-weight: bolder;
    font-size: 50px;
}


.area{
    background-image: url('imagenes/v675-taus-35c-technologyinterface.jpg');
    width: 100% !important;
    height:330vh !important;
    

}

